Node-Red.json
[{"id":"c0004afb.a7c498","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"c0c0094e.681748","type":"function","z":"c0004afb.a7c498","name":"Store Data","func":"var data1 = context.get(\"data1\") || 0; //get from context or default to 0\nvar data2 = context.get(\"data2\") || 0; //get from context or default to 0\nvar data3 = context.get(\"data3\") || 0;\nvar data4 = context.get(\"data4\") || 0;\nvar data5 = context.get(\"data5\") || 0;\nvar data6 = context.get(\"data6\") || 0;\nvar data7 = context.get(\"data7\") || 0;\nvar data8 = context.get(\"data8\") || 0;\nvar data9 = context.get(\"data9\") || 0;\nvar data10 = context.get(\"data10\") || 0;\nvar data11 = context.get(\"data11\") || 0;\nvar data12 = context.get(\"data12\") || 0;\nvar data13 = context.get(\"data13\") || 0;\nvar data14 = context.get(\"data14\") || 0;\nvar data15 = context.get(\"data15\") || 0;\nvar data16 = context.get(\"data16\") || 0;\nvar data17 = context.get(\"data17\") || 0;\nvar data18 = context.get(\"data18\") || 0;\nvar data19 = context.get(\"data19\") || 0;\nvar data20 = context.get(\"data20\") || 0;\nvar data21 = context.get(\"data21\") || 0;\nvar data22 = context.get(\"data22\") || 0;\nvar data23 = context.get(\"data23\") || 0;\nvar data24 = context.get(\"data24\") || 0;\nvar data25 = context.get(\"data25\") || 0;\nvar data26 = context.get(\"data26\") || 0;\nvar data27 = context.get(\"data27\") || 0;\nvar data28 = context.get(\"data28\") || 0;\nvar data29 = context.get(\"data29\") || 0;\nswitch (msg.topic){\n\n    case \"task1\":\n        data1 = msg.payload; \n        context.set(\"data1\", data1);//store in context for next time \n        return;\n        \n    case \"task2\":\n        data2 = msg.payload;\n        context.set(\"data2\", data2); //store in context for next time \n        return;\n        \n    case \"task3\":\n        data3 = msg.payload;\n        context.set(\"data3\", data3); //store in context for next time \n        return;\n        \n        \n    case \"task4\":\n        data4 = msg.payload;\n        context.set(\"data4\", data4); //store in context for next time \n        return;\n        \n    case \"task5\":\n        data5 = msg.payload;\n        context.set(\"data5\", data5); //store in context for next time \n        return;\n        \n    case \"task6\":\n        data6 = msg.payload;\n        context.set(\"data6\", data6); //store in context for next time \n        return;\n        \n    case \"task7\":\n        data7 = msg.payload;\n        context.set(\"data7\", data7); //store in context for next time \n        return;\n        \n    case \"task8\":\n        data8 = msg.payload;\n        context.set(\"data8\", data8); //store in context for next time \n        return;\n        \n    case \"task9\":\n        data9 = msg.payload;\n        context.set(\"data9\", data9); //store in context for next time \n        return;\n        \n    case \"task10\":\n        data10 = msg.payload;\n        context.set(\"data10\", data10); //store in context for next time \n        return;\n        \n    case \"task11\":\n        data11 = msg.payload;\n        context.set(\"data11\", data11); //store in context for next time \n        return;\n        \n    case \"task12\":\n        data12 = msg.payload;\n        context.set(\"data12\", data12); //store in context for next time \n        return;\n        \n    case \"task13\":\n        data13 = msg.payload;\n        context.set(\"data13\", data13); //store in context for next time \n        return;\n        \n    case \"task14\":\n        data14 = msg.payload;\n        context.set(\"data14\", data14); //store in context for next time \n        return;\n        \n    case \"task15\":\n        data15 = msg.payload;\n        context.set(\"data15\", data15); //store in context for next time \n        return;\n        \n    case \"task16\":\n        data16 = msg.payload;\n        context.set(\"data16\", data16); //store in context for next time \n        return;\n        \n    case \"task17\":\n        data17 = msg.payload;\n        context.set(\"data17\", data17); //store in context for next time \n        return;\n        \n    case \"task18\":\n        data18 = msg.payload;\n        context.set(\"data18\", data18); //store in context for next time \n        return;\n        \n    case \"task19\":\n        data19 = msg.payload;\n        context.set(\"data19\", data19); //store in context for next time \n        return;\n        \n    case \"task20\":\n        data20 = msg.payload;\n        context.set(\"data20\", data20); //store in context for next time \n        return;\n        \n    case \"task21\":\n        data21 = msg.payload;\n        context.set(\"data21\", data21); //store in context for next time \n        return;\n        \n    case \"task22\":\n        data22 = msg.payload;\n        context.set(\"data22\", data22); //store in context for next time \n        return;\n        \n    case \"task23\":\n        data23 = msg.payload;\n        context.set(\"data23\", data23); //store in context for next time \n        return;\n        \n    case \"task24\":\n        data24 = msg.payload;\n        context.set(\"data24\", data24); //store in context for next time \n        return;\n        \n    case \"task25\":\n        data25 = msg.payload;\n        context.set(\"data25\", data25); //store in context for next time \n        return;\n        \n    case \"task26\":\n        data26 = msg.payload;\n        context.set(\"data26\", data26); //store in context for next time \n        return;\n    \n    case \"task27\":\n        data27 = msg.payload;\n        context.set(\"data27\", data27); //store in context for next time \n        return;\n    \n    case \"task28\":\n        data28 = msg.payload;\n        context.set(\"data28\", data28); //store in context for next time \n        return;\n    \n    case \"task29\":\n        data29 = msg.payload;\n        context.set(\"data29\", data29); //store in context for next time \n        return;\n        \n    case \"go\":\n     msg.payload = \" name \"+ data1 +\" , address \" + data2 +\" , phone \" + data3 +\" , email \"+ data4 +\" , pwd \"+ data5 +\" , skills \"+ data6 +\" , 10th percent \"+ data7 +\" 12th percent \" + data8 + \" Yop 10th \" + data9 + \"Yop 12th \" + data10 + \"status \" + data11 + \"college \" + data12 + \"start \" + data13 + \"end \" + data14 + \"degree \" + data15 + \" stream \"+ data16 +\" cgpa \"+ data17 +\" intern prof \"+ data18 +\" intern org name \"+ data19 +\" start \"+ data20 +\" end \"+ data21 +\" Intern desc \"+ data22 +\" job prof \"+ data23 +\" job org name \"+ data24 +\" desc of job \"+ data25 + \"add details \"+ data26;\n      //msg1.payload=data1;\n      //msg2.payload=data2;\n      \n    \n}\n\n//msg.topic = \"go\";\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":707,"y":600,"wires":[["9fd774b0.8b80a8"]]},{"id":"23dc70da.effe9","type":"ui_text_input","z":"c0004afb.a7c498","name":"","label":"Name","tooltip":"","group":"560298f2.f9a8d8","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"task1","x":90,"y":20,"wires":[["c0c0094e.681748"]]},{"id":"a8ee8498.3c2a78","type":"ui_text_input","z":"c0004afb.a7c498","name":"","label":"Address","tooltip":"","group":"560298f2.f9a8d8","order":3,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"task2","x":100,"y":60,"wires":[["c0c0094e.681748"]]},{"id":"6f2c3fc8.cdf02","type":"debug","z":"c0004afb.a7c498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":300,"wires":[]},{"id":"9fd774b0.8b80a8","type":"json","z":"c0004afb.a7c498","name":"","property":"payload","action":"str","pretty":true,"x":590,"y":300,"wires":[["6f2c3fc8.cdf02"]]},{"id":"747bf709.8d0c58","type":"ui_dropdown","z":"c0004afb.a7c498","name":"","label":"","tooltip":"","place":"Select the skills known( Select \"None\" otherwise)","group":"560298f2.f9a8d8","order":22,"width":0,"height":0,"passthru":true,"multiple":true,"options":[{"label":"","value":"C basic","type":"str"},{"label":"","value":"C intermediate","type":"str"},{"label":"","value":"C advanced","type":"str"},{"label":"","value":"C++ basic","type":"str"},{"label":"","value":"C++ intermediate","type":"str"},{"label":"","value":"C++ advanced","type":"str"},{"label":"","value":"Python basic","type":"str"},{"label":"","value":"Python intermediate","type":"str"},{"label":"","value":"Python advanced","type":"str"},{"label":"","value":"Java basic","type":"str"},{"label":"","value":"Java intermediate","type":"str"},{"label":"","value":"Java advanced","type":"str"},{"label":"","value":"None","type":"str"}],"payload":"","topic":"task6","x":100,"y":220,"wires":[["c0c0094e.681748"]]},{"id":"f4ee3c3e.90a65","type":"ui_text_input","z":"c0004afb.a7c498","name":"","label":"Email id","tooltip":"","group":"560298f2.f9a8d8","order":23,"width":0,"height":0,"passthru":true,"mode":"email","delay":"0","topic":"task4","x":100,"y":140,"wires":[["c0c0094e.681748"]]},{"id":"dfde12be.b755e","type":"ui_text_input","z":"c0004afb.a7c498","name":"","label":"Enter password","tooltip":"","group":"560298f2.f9a8d8","order":24,"width":0,"height":0,"passthru":true,"mode":"password","delay":"0","topic":"task5","x":120,"y":180,"wires":[["c0c0094e.681748"]]},{"id":"bdeb8f16.f7de","type":"ui_text_input","z":"c0004afb.a7c498","name":"","label":"Enter phone number","tooltip":"","group":"560298f2.f9a8d8","order":25,"width":0,"height":0,"passthru":true,"mode":"tel","delay":"0","topic":"task3","x":140,"y":100,"wires":[["c0c0094e.681748"]]},{"id":"fcb1e93d.f0e6d8","type":"ui_text_input","z":"c0004afb.a7c498","name":"","label":"10th percentage","tooltip":"","group":"560298f2.f9a8d8","order":26,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"task7","x":120,"y":260,"wires":[["c0c0094e.681748"]]},{"id":"f35bbd64.109bf","type":"ui_text_input","z":"c0004afb.a7c498","name":"","label":"12th percentage","tooltip":"","group":"560298f2.f9a8d8","order":27,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"task8","x":120,"y":300,"wires":[["c0c0094e.681748"]]},{"id":"cc3b7787.d60ca8","type":"ui_text_input","z":"c0004afb.a7c498","name":"","label":"Year of passing 10th","tooltip":"","group":"560298f2.f9a8d8","order":27,"width":0,"height":0,"passthru":true,"mode":"month","delay":"0","topic":"task9","x":140,"y":340,"wires":[["c0c0094e.681748"]]},{"id":"ab1bc6c.9820538","type":"ui_text_input","z":"c0004afb.a7c498","name":"","label":"Year of passing 12th","tooltip":"","group":"560298f2.f9a8d8","order":28,"width":0,"height":0,"passthru":true,"mode":"month","delay":"0","topic":"task10","x":140,"y":380,"wires":[["c0c0094e.681748"]]},{"id":"a4b2f8c4.cbedd8","type":"ui_dropdown","z":"c0004afb.a7c498","name":"","label":"","tooltip":"","place":"Graduation Status","group":"560298f2.f9a8d8","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"Completed","type":"str"},{"label":"","value":"Pursuing","type":"str"}],"payload":"","topic":"task11","x":100,"y":420,"wires":[["c0c0094e.681748"]]},{"id":"bd69d427.182568","type":"ui_text_input","z":"c0004afb.a7c498","name":"","label":"Enter your college name(highest qualification)","tooltip":"","group":"560298f2.f9a8d8","order":32,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"task12","x":220,"y":460,"wires":[["c0c0094e.681748"]]},{"id":"a17dc571.ac4cd8","type":"ui_text_input","z":"c0004afb.a7c498","name":"","label":"Start year","tooltip":"","group":"560298f2.f9a8d8","order":33,"width":0,"height":0,"passthru":true,"mode":"month","delay":"0","topic":"task13","x":100,"y":500,"wires":[["c0c0094e.681748"]]},{"id":"30b5585a.11d8f8","type":"ui_text_input","z":"c0004afb.a7c498","name":"","label":"End year","tooltip":"","group":"560298f2.f9a8d8","order":34,"width":0,"height":0,"passthru":true,"mode":"month","delay":"0","topic":"task14","x":100,"y":540,"wires":[["c0c0094e.681748"]]},{"id":"c3b2aca5.31401","type":"ui_text_input","z":"c0004afb.a7c498","name":"","label":"Degree","tooltip":"","group":"560298f2.f9a8d8","order":35,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"task15","x":100,"y":580,"wires":[["c0c0094e.681748"]]},{"id":"6993f535.bf5cfc","type":"ui_text_input","z":"c0004afb.a7c498","name":"","label":"Stream","tooltip":"","group":"560298f2.f9a8d8","order":36,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"task16","x":100,"y":620,"wires":[["c0c0094e.681748"]]},{"id":"5cbed5ed.e2f40c","type":"ui_text_input","z":"c0004afb.a7c498","name":"","label":"CGPA","tooltip":"","group":"560298f2.f9a8d8","order":37,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"task17","x":90,"y":660,"wires":[["c0c0094e.681748"]]},{"id":"f54d9780.cc0e18","type":"ui_text_input","z":"c0004afb.a7c498","name":"","label":"Enter your previous job profile","tooltip":"","group":"560298f2.f9a8d8","order":38,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"task23","x":170,"y":900,"wires":[["c0c0094e.681748"]]},{"id":"f605babf.f75268","type":"ui_text_input","z":"c0004afb.a7c498","name":"","label":"Previous job's organization name","tooltip":"","group":"560298f2.f9a8d8","order":39,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"task24","x":180,"y":940,"wires":[["c0c0094e.681748"]]},{"id":"cb5b3390.5ae33","type":"ui_text_input","z":"c0004afb.a7c498","name":"","label":"Describe your previous job","tooltip":"","group":"560298f2.f9a8d8","order":40,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"task25","x":160,"y":980,"wires":[["c0c0094e.681748"]]},{"id":"792ee76.9160918","type":"ui_text_input","z":"c0004afb.a7c498","name":"","label":"Enter your internship organization name","tooltip":"","group":"560298f2.f9a8d8","order":41,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"task19","x":200,"y":740,"wires":[["c0c0094e.681748"]]},{"id":"838ce09f.07295","type":"ui_text_input","z":"c0004afb.a7c498","name":"","label":"Enter the start date","tooltip":"","group":"560298f2.f9a8d8","order":42,"width":0,"height":0,"passthru":true,"mode":"month","delay":"0","topic":"task20","x":130,"y":780,"wires":[["c0c0094e.681748"]]},{"id":"199f433b.e880ad","type":"ui_text_input","z":"c0004afb.a7c498","name":"","label":"Enter the end date","tooltip":"","group":"560298f2.f9a8d8","order":43,"width":0,"height":0,"passthru":true,"mode":"month","delay":"0","topic":"task21","x":130,"y":820,"wires":[["c0c0094e.681748"]]},{"id":"cf4678aa.dbe588","type":"ui_text_input","z":"c0004afb.a7c498","name":"","label":"Describe your interships","tooltip":"","group":"560298f2.f9a8d8","order":44,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"task22","x":150,"y":860,"wires":[["c0c0094e.681748"]]},{"id":"1eb1f591.b298ba","type":"ui_text_input","z":"c0004afb.a7c498","name":"","label":"Enter your internship profile","tooltip":"","group":"560298f2.f9a8d8","order":70,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"task18","x":160,"y":700,"wires":[["c0c0094e.681748"]]},{"id":"2ed9a4.b249e65c","type":"ui_text_input","z":"c0004afb.a7c498","name":"","label":"Additional details(if any)","tooltip":"","group":"560298f2.f9a8d8","order":98,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"task29","x":150,"y":1060,"wires":[["c0c0094e.681748"]]},{"id":"38347e4e.1e85e2","type":"ui_button","z":"c0004afb.a7c498","name":"","group":"560298f2.f9a8d8","order":98,"width":0,"height":0,"passthru":false,"label":"submit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"go","x":90,"y":1100,"wires":[["c0c0094e.681748"]]},{"id":"368c2e1d.f69fb2","type":"ui_form","z":"c0004afb.a7c498","name":"","label":"","group":"cce1bab5.f96598","order":0,"width":0,"height":0,"options":[{"label":"Email Id","value":"Email","type":"email","required":true,"rows":null},{"label":"Password","value":"pwd","type":"password","required":true,"rows":null}],"formValue":{"Email":"","pwd":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":310,"y":1100,"wires":[["316b1a80.752fd6"]]},{"id":"316b1a80.752fd6","type":"ui_text","z":"c0004afb.a7c498","group":"cce1bab5.f96598","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":1100,"wires":[]},{"id":"80896b0f.5c2fb8","type":"inject","z":"c0004afb.a7c498","name":"","topic":"","payload":"This is home page","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":1260,"wires":[["2e5d7d40.504bb2"]]},{"id":"2e5d7d40.504bb2","type":"function","z":"c0004afb.a7c498","name":"","func":"msg.payload = \"Welcome to the website\";\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1260,"wires":[["d1c7b2fe.561fa"]]},{"id":"d1c7b2fe.561fa","type":"debug","z":"c0004afb.a7c498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":1260,"wires":[]},{"id":"5ad76f4b.40e77","type":"ui_text_input","z":"c0004afb.a7c498","name":"","label":"Welcome","tooltip":"","group":"19e02f06.ec9fd1","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":300,"y":1160,"wires":[["4c45938f.5dd1ac"]]},{"id":"4c45938f.5dd1ac","type":"ui_text","z":"c0004afb.a7c498","group":"19e02f06.ec9fd1","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":520,"y":1160,"wires":[]},{"id":"4137f6b0.08ca68","type":"http in","z":"c0004afb.a7c498","name":"HTTP hello ","url":"/hw","method":"get","upload":false,"swaggerDoc":"","x":210,"y":1340,"wires":[["8500607d.86fd2"]]},{"id":"fab235ef.85fa88","type":"http response","z":"c0004afb.a7c498","name":"","statusCode":"","headers":{},"x":570,"y":1340,"wires":[]},{"id":"8500607d.86fd2","type":"template","z":"c0004afb.a7c498","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n      <head>\n            <title>Hello World</title>\n      </head>\n      <body>\n            <div>Hello to Watson on Node-RED</div>\n      </body>\n</html>\n","output":"str","x":380,"y":1340,"wires":[["fab235ef.85fa88"]]},{"id":"a593f60a.62d418","type":"ui_text_input","z":"c0004afb.a7c498","name":"","label":"Enter project details (N/A if not applicable)","tooltip":"","group":"560298f2.f9a8d8","order":44,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"task26","x":200,"y":1020,"wires":[["c0c0094e.681748"]]},{"id":"37a92134.ff957e","type":"ui_text_input","z":"c0004afb.a7c498","name":"","label":"Enter training details (N/A if not applicable)","tooltip":"","group":"560298f2.f9a8d8","order":44,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"task27","x":510,"y":1040,"wires":[["c0c0094e.681748"]]},{"id":"b87e1fb0.402ca","type":"ui_text_input","z":"c0004afb.a7c498","name":"","label":"Enter Course/Workshop details (N/A if not applicable)","tooltip":"","group":"560298f2.f9a8d8","order":44,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"task28","x":460,"y":1000,"wires":[["c0c0094e.681748"]]},{"id":"a5ffb8f.6c00948","type":"dashDB out","z":"c0004afb.a7c498","dashDB":"33930855.1bd2f8","service":"_ext_","table":"REGISTER","name":"","x":818,"y":460,"wires":[]},{"id":"560298f2.f9a8d8","type":"ui_group","z":"","name":"Form","tab":"c2b9942f.ae1c98","order":1,"disp":true,"width":"6","collapse":false},{"id":"cce1bab5.f96598","type":"ui_group","z":"","name":"Login page","tab":"e9c1e265.46a7c","order":1,"disp":true,"width":"6","collapse":false},{"id":"19e02f06.ec9fd1","type":"ui_group","z":"","name":"Message","tab":"8e15b34b.4d8b5","order":1,"disp":true,"width":"6","collapse":false},{"id":"33930855.1bd2f8","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net","db":"BLUDB","port":"50000","name":""},{"id":"c2b9942f.ae1c98","type":"ui_tab","z":"","name":"Register","icon":"dashboard","order":13,"disabled":false,"hidden":false},{"id":"e9c1e265.46a7c","type":"ui_tab","z":"","name":"Login","icon":"dashboard","disabled":false,"hidden":false},{"id":"8e15b34b.4d8b5","type":"ui_tab","z":"","name":"Welcome ","icon":"dashboard","order":12,"disabled":false,"hidden":false}]